<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Newsreader%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden"
      style="--select-button-svg: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724px%27 height=%2724px%27 fill=%27rgb(108,117,127)%27 viewBox=%270 0 256 256%27%3e%3cpath d=%27M181.66,170.34a8,8,0,0,1,0,11.32l-48,48a8,8,0,0,1-11.32,0l-48-48a8,8,0,0,1,11.32-11.32L128,212.69l42.34-42.35A8,8,0,0,1,181.66,170.34Zm-96-84.68L128,43.31l42.34,42.35a8,8,0,0,0,11.32-11.32l-48-48a8,8,0,0,0-11.32,0l-48,48A8,8,0,0,0,85.66,85.66Z%27%3e%3c/path%3e%3c/svg%3e'); font-family: Newsreader, &quot;Noto Sans&quot;, sans-serif;"
    >
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f1f2f3] px-10 py-3">
          <div class="flex items-center gap-4 text-[#131416]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6H42L36 24L42 42H6L12 24L6 6Z" fill="currentColor"></path></svg>
            </div>
             <a href={%url 'index'%}><h2 class="text-[#141415] text-lg font-bold leading-tight tracking-[-0.015em]">BuzzBytes</h2></a>
          </div>
        
          
           
            </button>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDb5CxuiHcQefAZQKl999M-Z7VJyatMYkYenhnhS1QqiqHJJi9pTYfBGlRORaMj9zXFSo-s_TIT4lVyoQPVs5zi9tLgdiYMvO5lc6OrRAcJ3UmqDCG5rmFp5XzKEtGuBrdLABcyoqCq05uSL6m85dUu9ED362Y6ZxpHtoanbqP3YqvmRE--8UcXGc1Fp60KR4kWMYNpc4hFdK-ZEUYMkVy-qYA6e4dZD3YFWGFF876OVbRDROb_LMhG7bqVsFhQeyl9pSGnEt9d0Q");'
            ></div>
          </div>
        </header>

        <div class="px-40 flex flex-1 justify-center py-5">
          
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
         
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

  <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      {{ form.title }}
    </label>
  </div>
<div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      {{ form.description }}
    </label>
  </div>
  <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      {{ form.content }}
    </label>
  </div>

  <h3 class="text-[#131416] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Category</h3>
  <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      {{ form.category }}
    </label>
  </div>

  <h3 class="text-[#131416] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Tags</h3>
  <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
    <label class="flex flex-col min-w-40 flex-1">
      {{ form.tags }}
    </label>
  </div>
<h3 class="text-[#131416] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Upload Image</h3>
<div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
  <label class="flex flex-col min-w-40 flex-1">
    {{ form.imgurl}}
  </label>
</div>
  <div class="flex px-4 py-3 justify-end">
    <button
      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#0f1923] text-white text-sm font-bold leading-normal tracking-[0.015em]"
    >
      <span class="truncate">Publish</span>
    </button>
  </div>
</form>

      
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
